<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Inicio</title>
</head>
<body>
<div>
    <h1 style="align-items: center; justify-content: center">Elige</h1>
    <form th:action="@{/clientes}" style="display: flex; float: left; justify-content: center">
        <input type="submit" value="Ver Clientes" />
    </form>

    <form th:action="@{/comerciales}" style="display: flex; float: right; justify-content: center">
        <input type="submit" value="Ver Comerciales" />
    </form>
</div>
</body>
</html>